<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                Analyze a News Article
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form" class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="url" name="test-url" value=""  placeholder="https://www.news-source/a-news-article...">
                    <input id ="sub" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <p id = "error-message"></p>
            <section>

                <section class="url-results">
                    <ul>
                        <li>
                            <h3>Text Polarity:</h3>
                            <p id="polarity"></p>
                            <h4>Polarity Confidence: </h4>
                            <p id="polarity_confidence"></p>
                        </li>
    
                        <li>
                            <h3>Text Subjectivity:</h3>
                            <p id="subjectivity"></p>
                            <h4>Subjectivity Confidence: </h4>
                            <p id="subjectivity_confidence"></p>
                        </li>
    
                        <h3>Text Excerpt:</h3>
                        <p id="excerpt"></p>
                    </ul>
                </section>
        </main>

        <footer>
            <p>Udacity FEND Project #4 | Site by: Jody Dixon, <a href="https://ashehouse.com" target="_blank"> Ashe House</a></p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
