<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                Analyze a News Article
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="url" name="test-url" value=""  placeholder="https://www.news-source/a-news-article...">
                    <input id ="sub" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <p id = "errormessage"></p>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <div id="polarity_confidence"></div>
                    <div id="excerpt"></div>
                </div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
