$font-stack: 'Nanum Myeongjo', serif;;
$primary-color: #333;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgrey;
    font: 100% $font-stack;
    color: $primary-color;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
