form {
    border: 1px solid blue;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.logo {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 4em;
    font-weight: 700;
}
